BasedOnStyle: LLVM
IndentWidth: 4
NamespaceIndentation: All
ColumnLimit: 120
BreakBeforeBraces: Attach
InsertBraces: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
SeparateDefinitionBlocks: Always
